@font-face {
    font-family: "clock font";
    src: url(digital-7.ttf);
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*@media (min-width: 768px ) {*/
    /*.row {*/
        /*position: relative;*/
    /*}*/

    /*.bottom-align {*/
        /*position: absolute;*/
        /*bottom: 0;*/
        /*right: 0;*/
    /*}*/
/*}*/

#withdraw-btn{
    display: none;
}

#winner {
    display: none;
}
#reveal-btn{
    display: none;
}

.count-down {
    font-family: "clock font";
    font-size: 2em;
}

.custome-container {
    padding-top: 5em;
}

#timer{

}

td, th{
  text-align: center;
}
.status{
    font-size: 2em;
}